*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background: #96c4c4;
   /*background-color: white;*/
   /*margin: 0 auto;*/
}
body div img{
    margin: 5px auto;
    width: 200px;
    height: 200px;
    display: block;
}
header{
    background-image: url(../imagenes/logotipo-upds-azul.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    width: 100%;
    clear: both;
    content: '';
    font-family: 'Calibri';
    height: 210px;
    display: flex;
}
nav{
    float: right;
}
nav ul li{
    list-style: none;
    margin-left: 30px;
    float: left;
    padding: 10px 10px 1px 0px;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
nav ul li a::before{
    display: block;
    content: '';
    width: 0%;
    background: #719393;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.5s;
}
nav ul li a:hover:before{
    width: 100%;
}
.home{
    display: flex;
    flex-wrap: wrap;
}
footer{
    margin: 10px 10px;
    width: 100%;
    padding: 20px 20px;
    text-align: center;
    display:inline-block;
    background:#ffffff ;
    color: black;
    border-radius: 20px;
}
.borde{
    width: 85%;
    margin: 25px auto;
    background-color: #e4fbfb;
    padding: 25px;
    border-radius: 15px;
}
.izq{
    padding: 20px;
    font-size: 18px;
    font-family: 'Calibri';
    color: rgb(98, 94, 94);
    font-style:oblique;
}
.der{
    font-size: 18px;
    font-family: 'Calibri';
    color: rgb(119, 110, 110);
}
p{
    text-align: center;
}
.regresar{
    color: black;
    margin: 5px auto;
    width: 300px;
    height: 300px;
    display: block;
}
#tabla{
    max-width: 600px;
    margin: 50px auto;
}
table{
    background-color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
    padding: 25px;
}